@import "~fontsource-oswald/400.css";
@import "~fontsource-source-code-pro/400.css";
@import "~fontsource-source-code-pro/700.css";

body {
  font-family: Oswald, sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.gm-link {
  text-decoration: underline;
}
