@import '~fontsource-roboto/400.css';
@import '~fontsource-roboto/700.css';

body {
  font-family: Roboto, sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.gm-link {
  text-decoration: underline;
}
